.header-div {
  display: flex;
  color: skyblue;
  border-bottom: 4px solid skyblue;
  text-align: left;
  align-items: center;
  height: 8vh;
  margin: 0;
  padding: 0 15px;
  font-size: 14px;
  position: relative;
}

.header-div h1 {
  margin-left: 10px;
}

.qr-icon {
  height: 35px;
}

.header-button {
  position: absolute;
  top: 20%;
  right: 15px;
}

.google-signin-btn img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.google-signin-btn {
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid skyblue;
  font-weight: 700;
  background: rgb(238, 248, 251);
}

.google-signin-btn:hover {
  background: rgb(204, 240, 254);
}

.google-signed-in-btn img {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -20%;
  right: 0px;
  background-color: transparent;
  border: none;
}
